<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunding.dut">

    <uses-sdk tools:overrideLibrary="com.lqr.audio" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 播音 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.DUTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.account.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.account.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.account.ResetPwdActivity" />
        <activity android:name=".ui.me.MeActivity" />
        <activity android:name=".ui.me.MeInfoActivity" />
        <activity android:name=".ui.me.MeSettingActivity" />
        <activity android:name=".ui.discuss.DiscussActivity" />
        <activity android:name=".ui.discuss.DiscussGroupActivity" />
        <activity
            android:name=".ui.LaunchActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.discuss.DiscussQuestionActivity" />
        <activity android:name=".ui.reading.ReadingActivity" />

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/TakePhotoTheme" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/TakePhotoTheme" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TakePhotoTheme" />
    </application>

</manifest>